<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<nav>
  <h1>->Intro-></h1>
  <p>
    A rare mineral known as Puraxite has been found near the center of the Milky Way Galaxy
    and the center of attention for many big organizations. 
    This mineral would be the first 100 Percent efficient super conducter in the Milky Way.
    However, instead of sharing this resource the two biggest parties in question decided they wanted a monopoly 
    over the technology. The galactic Overseers and the Milky Way Federation have started a war 
    over this mineral. Years this has been going on. With each Corperation at a standstill. They Don't have
    the technology to mine this Puraxite in a way that would keep it in tact. 

    You have this information and you must decide what to do with it.
  </p>
</nav>